@model ProdutoModel
@{
    ViewData["Title"] = "Cadastro De Produtos";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Produto</h1>
</div>

<form asp-controller="Produto" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="produto">Produto</label>
        <input type="text" asp-for="Produto" class="form-control" placeholder="Digite o nome do produto">
    </div>

    <div class="form-group">
        <label for="registro">Número De Registro</label>
        <input type="text" asp-for="Registro" class="form-control" placeholder="Digite número de registro">
    </div>

    <div class="form-group">
        <label for="fabricante">Fabricante</label>
        <input type="text" asp-for="Fabricante" class="form-control" placeholder="Digite o fabricante">
    </div>

    <div class="form-group">
        <label for="tipo">Tipo</label>
        <input type="text" asp-for="Tipo" class="form-control" placeholder="Digite o tipo">
    </div>

    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Descreva o produto">
    </div>


    <button type="submit" class="btn btn-primary btn-block">Adicionar Produto</button>
    <a class="btn btn-secondary btn-block" asp-controller="Produto" asp-action="Index" role="button">Voltar</a>
</form>